<header class="mainheader">
  <div class="container">
      <div class='homebuttonDiv'>
        <% if logged_in? && request.fullpath != "/" && request.fullpath != "/login"%>
        <% if is_student? %>
          <%= link_to "Home", student_path(current_user), class: 'homebutton' %>
        <% else %>
          <%= link_to "Home", officer_path(current_user), class: 'homebutton' %>
        <% end %>
      <% end %>
    </div><!-- homediv -->
     <div class='logout'>
        <% if logged_in? %>
           <%= link_to "Logout", logout_path, method: "DELETE", class: 'logout' %>
        <% end %>
    </div><!-- logoutdiv -->
    <div class='center'>
        <%= image_tag "ALUMNUTS.svg", size: "400x180", class: 'mainlogo' %>
    </div><!-- image_div -->
  </div><!-- container_div -->
</header>
<div class="navbar">
	<%= link_to 'Create cohort', new_officer_cohort_path(@officer), class: 'navbar' %>
	<a href="/cohorts" class="navbar">View ALL Cohorts</a>
	<a href="/students" class="navbar">View ALL Students</a>
</div>

<div class="officerWelcome">
<h1>Welcome, <%=@officer.name%></h1>
</div>


<div class="cohortcontainter">

	<div class="notice_board">
  <h3 class="noticehead">Notice board</h3>
  <hr>
  <% if @eligible_cohorts == true %>
	  <p>Don't forget to send surveys to: </p>
	  <% @officer.cohorts.each do |cohort| %>
	    <% if cohort.end_date + 100 < Date.today && cohort.survey_sent != true %>
	      <span><%= cohort.name %></span>
	    <% end %>
	  <% end %>
	<% else %>
		No surveys currently need to be sent!
	<% end %>
</div><!--notice board-->

  <div class='officerprofile'>
	 <big>My Cohorts:</big>
	 <hr>
	 <ul class="officer_cohorts">
		<% @cohort_stats.each do |cohort| %>
			<div class = "officer_cohort" data-id = "<%= cohort[:id] %>">
			<li>
				<a class="cohorttag" href=<%="#{@officer.id}/cohorts/#{cohort[:id]}"%>>
					<%= "#{cohort[:name]}" %>
				</a>
				<br>
				<small><%="Graduation Date: #{cohort[:day_graduated]}"%></small>
				<br>
				<% if cohort[:days_til_survey] < 100 || cohort[:days_til_survey].nil? %>
					<small><%="Employment Rate: #{cohort[:employed]}%"%></small>
					<br>
					<div class="officer_survey">
						<% if is_hundred_days?(cohort[:id]) && cohort[:survey_sent] != true && cohort[:days_til_survey] > 0 %>
							<small><%="Days until 100 day survey: #{cohort[:days_til_survey]}"%></small>
						<% elsif is_hundred_days?(cohort[:id]) && cohort[:survey_sent] != true %>
							<small><button id="send_survey">Send Survey</button></small>
					</div><!--officer_survey-->
					<% else %>
						<small>Survey status: Sent</small>
					<% end %>
				<% else %>
					<small>Employment Rate: <em>Class has not graduated yet</em> </small>
					<br>
					<small>Days until 100 day survey: <em>Class has not graduated yet</em> </small>
					<br>
				<% end %>
			</li>
			</div>
	<%end%>
	</ul>
	<%= image_tag 'acorn.gif', size: '180x180', class: "load" %>
</div> <!-- officerprofile end -->

<% if @eligible_cohorts == true %>
	<div class="chart">
		<div class="chartheadbox">
		   <h2 class="charthead">My Cohorts</h2>
	  </div>
		<%= content_tag :div, class: 'officer_stats', data: { stats: @cohort_stats } do %>
	  <% end %>
	  <canvas id="myPieChart" width="300" height="300" style="float: left;">
	  </canvas><br>
	  <!-- We can use AJAX to display all of this on this page if we'd like or use the links below -->
	   	<div class="chartheadbox">
			  <h2 class="charttext">Employment After 90 Days</h2>
			</div>
	  <div class="officer_chart_expl">
	    <p><%= image_tag 'yellow.png', size: '15x15'%> - Unemployed</p>
	    <p><%= image_tag 'blue.png', size: '15x15'%> - Employed</p>
	  </div>
	</div><!-- chart end -->
	</div><!-- containter end -->
<% end %>



<%= javascript_include_tag 'chart' %>
<%= javascript_include_tag 'officer-analytics' %>
