<header class="mainheader">
  <div class="container">
      <div class='homebuttonDiv'>
        <% if logged_in? && request.fullpath != "/" && request.fullpath != "/login"%>
        <% if is_student? %>
          <%= link_to "Home", student_path(current_user), class: 'homebutton' %>
        <% else %>
          <%= link_to "Home", officer_path(current_user), class: 'homebutton' %>
        <% end %>
      <% end %>
    </div><!-- homediv -->
     <div class='logout'>
        <% if logged_in? %>
           <%= link_to "Logout", logout_path, method: "DELETE", class: 'logout' %>
        <% end %>
    </div><!-- logoutdiv -->
    <div class='center'>
        <%= image_tag "ALUMNUTS.svg", size: "400x180", class: 'mainlogo' %>
    </div><!-- image_div -->
  </div><!-- container_div -->
</header>
<div class="navbar">
</div>
<h1>Welcome, <%=@officer.name%></h1>
<%= image_tag 'acorn.gif', size: '180x180', class: "load" %>
<div >
	<big>My Cohorts:</big>
	<ul class="officer_cohorts">
		<% @cohort_stats.each do |cohort| %>
		<div class = "officer_cohort" data-id = "<%= cohort[:id] %>">
		<li>
			<a href=<%="#{@officer.id}/cohorts/#{cohort[:id]}"%>>
				<%= "#{cohort[:name]}" %>
			</a>
			<br>
			<small><%="Gratuation Date: #{cohort[:day_graduated]}"%></small>
			<br>
			<% if cohort[:days_til_survey] < 100 || cohort[:days_til_survey].nil? %>
				<small><%="Employment Rate: #{cohort[:employed]}%"%></small>
				<br>
        <div class="officer_survey">
  				<% if !is_hundred_days?(cohort[:id]) && cohort[:survey_sent] != true%>
  					<small><%="Days until 100 day survey: #{cohort[:days_til_survey]}"%></small>
  				<% elsif is_hundred_days?(cohort[:id]) && cohort[:survey_sent] != true %>
  					<small><button id="send_survey">Send Survey</button></small>
  				<% else %>
  					<small>Survey's sent</small>
  				<% end %>
        </div><!--officer_survey-->
			<% else %>
				<small>Employment Rate: <em>Class has not graduated yet</em> </small>
				<br>
				<small>Days until 100 day survey: <em>Class has not graduated yet</em> </small>
				<br>
			<% end %>

		</li>
		</div>
		<%end%>
	</ul>
	<%= link_to 'Create cohort', new_officer_cohort_path(@officer) %>
</div>
<%= content_tag :div, class: 'officer_stats', data: { stats: @cohort_stats } do %>
<% end %>
<div>

<canvas id="myPieChart" width="200" height="200" style="float: left;">
</canvas>

<!-- We can use AJAX to display all of this on this page if we'd like or use the links below -->
	<a href="/cohorts">View ALL Cohorts</a>
	<a href="/students">View ALL Students</a>

</div>

<%= javascript_include_tag 'chart' %>
<%= javascript_include_tag 'officer-analytics' %>


