<!-- Welcome Current Officer here, is squid with @officer.name to display officer's name -->
<!-- after sessions controller has been made -->
<h1>Welcome, <%=@officer.name%></h1>
<div >
	<big>My Cohorts:</big>
	<ul>
		<% @cohort_stats.each do |cohort| %>
		<li>
			<a href=<%="#{@officer.id}/cohorts/#{cohort[:id]}"%>>
				<%= "#{cohort[:name]}" %>
			</a>
			<br>
			<small><%="Employment Rate: #{cohort[:employed]}%"%></small>
			<br>
			<small><%="Gratuated: #{cohort[:day_graduated]}"%></small>
			<br>
			<small><%="Days until 100 day survey: #{cohort[:days_til_survey]}"%></small>
		</li>
		<%end%>
	</ul>
	<%= link_to 'Create cohort', new_officer_cohort_path(@officer) %>
</div>
<div>

<!-- We can use AJAX to display all of this on this page if we'd like or use the links below -->
	<a href="/cohorts">View ALL Cohorts</a>
	<a href="/students">View ALL Students</a>

</div>


