<header class="loginheader">
<%= image_tag "ALUMNUTS.svg", size: "850x350", class: 'image' %>
</header>
<div class="navbar">
	</div>

<div class="login">
<h1>Sign In</h1>
<%= @error %>
<p id="notice"><%= notice %></p>
<%= form_tag '/login' do %>
	<%= label_tag(:label, "Enter Email") %><br>
  <%= text_field_tag :email %><br>
  <%= label_tag :label, "Enter Password" %><br>
  <%= password_field_tag :password %><br>
  <%= submit_tag "Sign In", class: 'submit' %>
<% end %>

<a href="/students/new" class="newstudent">Create New Student</a>
</div>
