<div>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
</div>
<div>
  <%= form.label :officer %><br>

<!--  below, add squid/flounder after sessions is enabled -->  
 	<p> current_user.name </p>
</div>
<div>
  <%= form.label :start_date %><br>
 	<%= form.date_field :start_date %>
</div>
<div>
  <%= form.label :end_date %><br>
 	<%= form.date_field :end_date %>
</div>
