<div>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
</div>
<div>


</div>
<div>
  <span>Start Date</span>
  <%= form.label :start_date %><br>
  <%= form.date_field :start_date %>
</div>
<div>
  <span>End Date</span>
  <%= form.label :end_date %><br>
  <%= form.date_field :end_date %>
</div>
