<h1>All Cohorts</h1>

<ul>
	<% @cohorts.each do |cohort| %>
	<li>
		<a href="/cohorts/<%= cohort.id %>"><%= cohort.name %></a>
		<br>
		<span>Start Date: </span><%= cohort.start_date %>
		<br>
		<span>End Date: </span><%= cohort.end_date %>
		<br>
		<span>Officer: </span><%= cohort.officer.name %>
	<% end %>
	</li>
</ul>

<% if session[:user_type] == "officer" %>
<%= link_to 'home', "/officers/#{session[:user_id]}" %>
<% else %>
<%= link_to 'home', "/students/#{session[:user_id]}" %>
<% end %>