<h1>Data about <%= @cohort.name %> </h1>
<div>
	<span>Cohort Name: </span><%= @cohort.name %> <br>
	<span>Start Date: </span><%= @cohort.start_date %> <br>
	<span>End Date: </span><%= @cohort.end_date %> <br>
</div>


<h3>Students</h3>

<ul>
	<% @cohort.students.each do |student| %>
	<li>
		<a href="/students/<%= student.id %>"><%= student.name %></a>
	</li>
		<% end %>
</ul>


<a href="officers/<%=@cohort.officer_id%>/analytics/<%=@cohort.id%>">Cohort Analytics</a>

