<h1>Data about <%= @cohort.name %> </h1>
<div>

	<span>Cohort Name: </span><%= @cohort.name %> <br>
	<span>Start Date: </span><%= @cohort.start_date %> <br>
	<span>End Date: </span><%= @cohort.end_date %> <br>
</div>


<h3>Students</h3>

<ul>
	<% @students.each do |student| %>
	<li>
		<a href="/students/<%= student.id %>"><%= student.name %></a>
		<% end %>
	</li>
</ul>

<% if session[:user_type] == "officer" %>
<%= link_to 'home', "/officers/#{session[:user_id]}" %>
<% else %>
<%= link_to 'home', "/students/#{session[:user_id]}" %>
<% end %>

