<h1>
	<%= "Welcome to the #{@cohort.name} cohort page" %>
</h1>
<small><%=@message%></small>

<!-- This is how we pass the controller data to the client -->
<%= content_tag :div, class: 'cohort_statistics', data:{ cohort: @cohort, students: @students, days: @days, grad: @grad } do %>
<% end %>


<canvas id="myPieChart" width="200" height="200" style="float: left;">
</canvas>

<!-- These styles will be overwritten from CSS files -->
<!-- This is the animated employment percentage-->
<div class="percent" style="float:left;font-size: 100px;color: #f0553a;">
</div>


<canvas id="myLineChart" width="400" height="200">
</canvas>

<!-- determines how many tan people should be displayed based on total number of students -->
<div class="person-tan">
	<% for i in 1..@cohort.students.length %>	
		<div class="person"><%= image_tag "person_tan.svg" %></div>
	<% end %>
</div>

<!-- determines how many people are employed, and displays that number as black people -->
<div class="person-black">
	<% for i in 1..@cohort.students.where(is_employed: true).length %>
		<div id=<%=" person#{i} "%>><%= image_tag "person_black.svg" %></div>
	<% end %>
</div>

<%= javascript_include_tag 'chart' %>
<%= javascript_include_tag 'analytics' %>
<%= javascript_include_tag 'main' %>