<header class="mainheader">
  <div class="container">
      <div class='homebuttonDiv'>
        <% if logged_in? && request.fullpath != "/" && request.fullpath != "/login"%>
        <% if is_student? %>
          <%= link_to "Home", student_path(current_user), class: 'homebutton' %>
        <% else %>
          <%= link_to "Home", officer_path(current_user), class: 'homebutton' %>
        <% end %>
      <% end %>
    </div><!-- homediv -->
     <div class='logout'>
        <% if logged_in? %>
           <%= link_to "Logout", logout_path, method: "DELETE", class: 'logout' %>
        <% end %>
    </div><!-- logoutdiv -->
    <div class='center'>
        <%= image_tag "ALUMNUTS.svg", size: "400x180", class: 'mainlogo' %>
    </div><!-- image_div -->
  </div><!-- container_div -->
</header>
<div class="navbar">
  </div>

 <div class="statshead">
    <h1><%= "Welcome to the #{@cohort.name} cohort page" %></h1>
  <% if @days < 0 %>
    <div>
      <em>*This Cohort has not graduated yet</em>
    </div>
  <% end %>

<!-- This is how we pass the controller data to the client -->
<%= content_tag :div, class: 'cohort_statistics', data:{ cohort: @cohort, students: @students, days: @days, grad: @grad } do %>
<% end %>
  </div> <!-- stats-head -->


  <div class="peoplechart">
    <!-- determines how many tan people should be displayed based on total number of students -->
    <div class="person-tan">
      <% for i in 1..@cohort.students.length %>
        <div class="person"><%= image_tag "person_tan.svg" %></div>
      <% end %>
    </div>
    <!-- determines how many people are employed, and displays that number as black people -->
    <div class="person-black">
      <% for i in 1..@cohort.students.where(is_employed: true).length %>
        <div id=<%=" person#{i} "%>><%= image_tag "person_black.svg" %></div>
      <% end %>
    </div>
</div><!--  peoplechart -->

<div class="stats-container">

<div class="linechart">
<canvas id="myLineChart" width="600" height="250">
</canvas>
</div>

<div class="cohortpiechart">
    <h2 class="cohortpiehead">Employment</h2>
    <canvas id="myPieChart" width="200" height="200">
    </canvas>
    <h2 class="cohortpiestat">Students Employed</h2>
</div> <!-- piechart -->


<!-- This is the animated employment percentage-->

<div class="percent">
</div>


</div> <!-- containter -->
<%= javascript_include_tag 'chart' %>
<%= javascript_include_tag 'analytics' %>
<%= javascript_include_tag 'main' %>
