<div>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
</div>
<div>
  <%= form.label :email %><br>
  <%= form.email_field :email %>
</div>
<% if @student.id == nil %>
  <%= form.label "password" %><br>
  <%= form.password_field_tag :password_digest %>
<% end %>
</div>
<div>
  <%= form.label :cohort_id %><br>
  <%= form.select(:cohort_id, options_from_collection_for_select(@cohorts, :id, :name)) %>
</div>
<div>
  <%= form.label :phone_number %><br>
  <%= form.text_field :phone_number %>
</div>
<div>
  <%= form.label :city %><br>
  <%= form.text_field :city %>
</div>
<div>
  <%= form.label :state %><br>
  <%= form.text_field :state %>
</div>
<div>
  <%= form.label :skills %><br>
  <%= form.text_field :skills %>
</div>
<div>
  <%= form.label :is_employed %><br>
  <%= form.check_box :is_employed %>
</div>
<div>
  <%= form.label :employment_date %><br>
  <%= form.time_field :employment_date %>
</div>
<div>
  <%= form.label :company_name %><br>
  <%= form.text_field :company_name %>
</div>
<div>
  <%= form.label :status %><br>
  <%= form.text_field :status %>
</div>
<div>
  <%= form.label :survey_complete %><br>
  <%= form.check_box :survey_complete %>
</div>



