<h1><%= @student.name %></h1>
<p><%= @student.status %></p>
<%= image_tag gravatar_url(@student.email, '100x100') %>
<p>Class: <%= @student.cohort.name %> </p>
<p>Email: <%= @student.email %></p>
<p>Phone number: <%= @student.phone_number %></p>
<p>Location: <%= "#{@student.city}, #{@student.state}" %></p>
<% if @student.is_employed %>
  <p>EMPLOYED</p>
  <p>Company: <%= @student.company %></p>
  <p>Started: <%= @student.employment_date %></p>
<% else %>
  <p>UNEMPLOYED</p>
<% end %>
<p>Skills: <% @student.skills.gsub(",", "").split.each do |skill| %>
    <span><%= skill %></span>
  <% end %>
</p>
<% if is_hundred_days?(@student.cohort.id) %>
  <p>Survey:
  <% if @student.survey_complete %>
    COMPLETED
  <% else %>
    PENDING <a href="#">Take a survey</a>
  <% end %>
  </p>
<% end %>

