<header class="mainheader">
  <div class="container">
      <div class='homebuttonDiv'>
        <% if logged_in? && request.fullpath != "/" && request.fullpath != "/login"%>
        <% if is_student? %>
          <%= link_to "Home", student_path(current_user), class: 'homebutton' %>
        <% else %>
          <%= link_to "Home", officer_path(current_user), class: 'homebutton' %>
        <% end %>
      <% end %>
    </div><!-- homediv -->
     <div class='logout'>
        <% if logged_in? %>
           <%= link_to "Logout", logout_path, method: "DELETE", class: 'logout' %>
        <% end %>
    </div><!-- logoutdiv -->
    <div class='center'>
        <%= image_tag "ALUMNUTS.svg", size: "400x180", class: 'mainlogo' %>
    </div><!-- image_div -->
  </div><!-- container_div -->
</header>



<div class="notice_survey">
  <% if flash[:notice] %>
    <div class="notice">
      <div class="inside_notice">
        <p><%= flash[:notice] %></p>
        <button class="close_survey">Close</button>
      </div>
    </div>
  <% end %>
</div>


<div class="navbar">
<%= link_to 'View cohort', @student.cohort, class: 'navbar' %>

<% if is_student? %>
  <a class="navbar" href="mailto:<%= @student.cohort.officer.email %>">Contact Officer</a>
<% end %>

<% if students_page? %>
  <%= link_to "Edit", edit_student_path(@student), class: 'navbar' %>

<% end %>
</div>





<div class="cohortcontainter">




    <div class="studentprofile">
    <h1 class="studenthead"><%= @student.name %></h1>
    <div class = "pic">
      <%= image_tag gravatar_url(@student.email, '100x100') %>
    </div>
    <h3><%= @student.status %></h3>
    <hr>
    <p>Cohort: <%= @student.cohort.name %></p>
    <p>Officer: <%= @student.cohort.officer.name %>
    <p>Email: <%= @student.email %></p>
    <p>Phone number: <% if @student.phone_number != nil %>
        <%= @student.phone_number.to_s.insert(3, "-").insert(7, "-") %>
      <% end %>
    </p>

    <p>Location: <%= "#{@student.city}, #{@student.state}" %></p>
    <% if @student.is_employed %>
      <p>EMPLOYED</p>
      <p>Company: <%= @student.company_name %></p>
      <p>Started: <%= @student.employment_date %></p>
    <% else %>
      <p>UNEMPLOYED</p>
    <% end %>
    <% if @student.skills != nil %>
      <p>Skills: <%= @student.skills %></p>
    <% end%>

    <% if is_hundred_days?(@student.cohort.id) %>
      <p>Survey:
      <% if @student.survey_complete %>
        COMPLETED
      <% else %>
        Not Yet Completed
        <% if is_student? %>
          <%= link_to 'Take a survey', new_student_survey_path(@student), class: 'takesurvey'%>
        <% end %>
      <% end %>
      </p>
    <% end %>


    <% if students_page? %>
      <%= form_tag(student_path, method: :delete) %>
      <%= submit_tag 'Delete profile', class: 'deletebutton' %>
    <% end %>

  </div><!-- studentprofile -->

</div><!-- containter -->





<%= javascript_include_tag 'main' %>








