<div class="notice_survey">
  <% if flash[:notice] %>
    <div class="notice">
      <div class="inside_notice">
        <p><%= flash[:notice] %></p>
        <button class="close_survey">Close</button>
      </div>
    </div>
  <% end %>
</div> 
<%= link_to 'View cohort', @student.cohort %>
<a href="mailto:<%= @student.cohort.officer.email %>">Contact Instructor</a>
<h1><%= @student.name %></h1>
<p><%= @student.status %></p>
<%= image_tag gravatar_url(@student.email, '100x100') %>
<p>Cohort: <%= @student.cohort.name %></p>
<p>Officer: <%= @student.cohort.officer.name %>
<p>Email: <%= @student.email %></p>
<p>Phone number: <% if @student.phone_number != nil %>
    <%= @student.phone_number.to_s.insert(3, "-").insert(7, "-") %>
  <% end %>
</p>
<p>Location: <%= "#{@student.city}, #{@student.state}" %></p>
<% if @student.is_employed %>
  <p>EMPLOYED</p>
  <p>Company: <%= @student.company_name %></p>
  <p>Started: <%= @student.employment_date %></p>
<% else %>
  <p>UNEMPLOYED</p>
<% end %>
<% if @student.skills != nil %>
  <p>Skills:
    <% @student.skills.gsub(",", "").split.each do |skill| %>
    <span><%= skill %></span>
    <% end %>
  </p>
<% end%>
<% if is_hundred_days?(@student.cohort.id) %>
  <p>Survey:
  <% if @student.survey_complete %>
    COMPLETED
  <% else %>
    PENDING <%= link_to 'Take a survey', student_surveys_path(@student)%>
  <% end %>
  </p>
<% end %>

<% if students_page? %>
  <%= link_to "Edit", edit_student_path(@student) %>

  <%= form_tag(student_path, method: :delete) %>
  <%= submit_tag 'Delete profile' %>

<% end %>

<%= javascript_include_tag 'main' %>



