<header class="mainheader">
		<div class='center'>
			<%= image_tag "ALUMNUTS.svg", size: "400x180", class: 'mainlogo' %>
		</div><!-- imagediv -->
</header>

<br>
<div class="error_line">
	<%= @error %>
</div>

<div class="body_txt">
	<h1 class="centered">Welcome to the ALUMNUTS 100-Day Survey</h1>

	<p class="bold_txt">Please complete our survey to help us gauge the success of our programs and future graduates.</p>
	<p class="error_line">*  Indicates that a response is required.</p>

	<% if @student.survey_complete != true %>
		<%= form_for ([@student, @survey]) do |form| %>
		  <%= render form %>
		  <div class="actions">
		    <div class="submit_survey"><%= form.submit 'Submit' %></div>
		  </div>
		<% end %>
	<% else %>
		<p class="error_line"> Uh oh. You can only submit this survey once. </p>
	<% end %>
</div>

