<header class="mainheader">
		<div class='center'>
			<%= image_tag "ALUMNUTS.svg", size: "400x180", class: 'mainlogo' %>
		</div><!-- imagediv -->
</header>

<%= @error %>
<h1>Welcome to the ALUMNUTS 100-Day Survey</h1>

<p>Please complete our survey to help us gauge the success of our programs and future graduates.</p>
<p>* Indicates that a response is required.</p>

<% if @student.survey_complete != true %>
	<%= form_for ([@student, @survey]) do |form| %>
	  <%= render form %>
	  <div class="actions">
	    <div class="submit_survey"><%= form.submit 'Submit' %></div>
      <%= form.submit "clear", :type => "reset" %>
	  </div>
	<% end %>
<% else %>
	<p>  Uh oh. You can only submit this survey once. </p>
<% end %>


