<header class="mainheader">
  <div class="container">
      <div class='homebuttonDiv'>
        <% if logged_in? && request.fullpath != "/" && request.fullpath != "/login"%>
        <% if is_student? %>
          <%= link_to "Home", student_path(current_user), class: 'homebutton' %>
        <% else %>
          <%= link_to "Home", officer_path(current_user), class: 'homebutton' %>
        <% end %>
      <% end %>
    </div><!-- homediv -->
     <div class='logout'>
        <% if logged_in? %>
           <%= link_to "Logout", logout_path, method: "DELETE", class: 'logout' %>
        <% end %>
    </div><!-- logoutdiv -->
    <div class='center'>
        <%= image_tag "ALUMNUTS.svg", size: "400x180", class: 'mainlogo' %>
    </div><!-- image_div -->
  </div><!-- container_div -->
</header>
<div class="navbar">
</div>

<br>
<div class="error_line_indent">
	<%= @error %>
</div>

<div class="body_txt">
	<h1 class="centered">Welcome to the ALUMNUTS 100-Day Survey</h1>

	<p class="bold_txt centered">Please complete our survey to help us gauge the success of our programs and future graduates.</p>
	<br>
	<br>
	<p class="error_line">*  Indicates that a response is required.</p>

	<% if @student.survey_complete != true %>
		<%= form_for ([@student, @survey]) do |form| %>
		  <%= render form %>
		  <div class="actions">
			  <div class="submit_survey"></div><%= form.submit "Clear", :type => "reset" %><br>
		      <%= form.submit 'Submit' %>
		  </div>
		<% end %>
	<% else %>
		<p class="error_line"> Uh oh... You can only submit this survey once. </p>
	<% end %>

</div>

