<header class="mainheader">
  <div class="container">
      <div class='homebuttonDiv'>
        <% if logged_in? && request.fullpath != "/" && request.fullpath != "/login"%>
        <% if is_student? %>
          <%= link_to "Home", student_path(current_user), class: 'homebutton' %>
        <% else %>
          <%= link_to "Home", officer_path(current_user), class: 'homebutton' %>
        <% end %>
      <% end %>
    </div><!-- homediv -->
     <div class='logout'>
        <% if logged_in? %>
           <%= link_to "Logout", logout_path, method: "DELETE", class: 'logout' %>
        <% end %>
    </div><!-- logoutdiv -->
    <div class='center'>
        <%= image_tag "ALUMNUTS.svg", size: "400x180", class: 'mainlogo' %>
    </div><!-- image_div -->
  </div><!-- container_div -->
</header>
<div class="navbar">
</div>


<div class="body_txt">

	<h1 class="centered">Survey results for <%= @survey.name %> </h1>
		<br>
		<span class="bold_txt">1. What type of web developer are you?</span><br>
		<%= @survey.web_dev_type_sym %><br>
		<br>
		<span class="bold_txt">2. What’s your current employment status?</span><br>
		<%= @survey.employment_status %><br>
		<br>
		<span class="bold_txt">3. What best describes your position?</span><br>
		<%= @survey.position_type_sym %><br>
		<br>
		<span class="bold_txt">4. Did you find the position through our Outcomes Program?</span><br>
	  <%= @survey.found_thru_outcomes %><br>
		<br>
		<span class="bold_txt">5. If employed, Company Name: <%= @survey.company %></span><br>
	  <span>Start Date: <%= @survey.employment_date %></span><br>
		<br>
		<span class="bold_txt">6. The technical skills I learned during my immersive course has properly prepared me for real-life work environments.</span><br>
	  <%= @survey.enough_preparation_sym %><br>
		<br>
		<span class="bold_txt">7. How would you rate the effectiveness of your Officer’s involvement in your job search preparation and actual job search?</span><br>
	  <%= @survey.officer_effectiveness_sym %><br>
		<br>
		<span class="bold_txt">8. What hard/soft skills that you didn’t learn while at GA would have better prepared you post-graduation, whether or not you’ve already found a job.</span><br>
	  <%= @survey.should_have_learned %><br>
		<br>
		<span class="bold_txt">9. If you’re currently not employed, what are some hurdles you’ve encountered during your job search?</span><br>
	  <%= @survey.hurdles %><br>
		<br>
		<span class="bold_txt">10. Anything else you want to say?</span><br>
	  <%= @survey.anything_else %><br>

<div>




