<!DOCTYPE html>
<html>
<head>
  <title>AlumniOutcomes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if request.fullpath != "/" && request.fullpath != "/login"%>
    <% if is_student? %>
      <%= link_to "Home", student_path(current_user) %>
    <% else %>
      <%= link_to "Home", officer_path(current_user) %>
    <% end %>
  <% end %>
  <% if logged_in? %>
    <%= link_to "Logout", logout_path, method: "DELETE" %>
  <% end %>
  <%= yield %>

  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/main.js"></script>
</body>
</html>
